<div class="row align-items-start">
  <div class="col-md-10 col-sm-10">
    <%= f.text_field :name %>
    <%= f.text_field :price %>
  </div>
  <div class="col-md-1 col-sm-1">
    <%= f.link_to_remove class: 'close' do %>
      <span aria-hidden="true">&times;</span>
    <% end %>
  </div>
</div>
<div class="col"><hr/></div>
